.container_app {
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.base_container {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    h3,
    h5,
    h6 {
        width: 100%;
        text-align: center;
        color: black;
    }
    .inputForm {
        outline-style: none;
        width: 100%;
        height: 40px;
        border-style: solid;
        border-color: #ec4848d8;
        border-radius: 10px;
        border-width: 1px;
        &:hover {
            animation-name: anim;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        &:focus {
            animation-name: anim;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    }
    textarea {
        height: 70px !important;
    }
    svg {
        &:hover {
            cursor: pointer;
            color: red;
        }
    }
    .listPoderes {
        border-style: solid;
        border-width: 0.5px;
        border-color: #adadad91;
        border-radius: 10px;
        .itemPoder {
            width: 98%;
            padding: 15px;
            margin: 5px;
            border-style: solid;
            border-radius: 5px;
            border-width: 0.3px;
            border-color: #01016e;
        }
    }
    button {
        width: 40%;
        height: 30px;
        border-style: none;
        border-radius: 14px;
        color: white;
    }
    .btnAddSkill {
        background-color: hsl(199, 80%, 63%);
        &:focus {
            outline-style: none;
        }
        &:hover {
            background-color: #56b3df;
        }
        &:active {
            background-color: hsl(199, 56%, 56%);
        }
    }
    .btnSave {
        background-color: rgb(85, 236, 92);
        &:focus {
            outline-style: none;
        }
        &:hover {
            background-color: #51da58;
        }
        &:active {
            background-color: rgb(77, 216, 84);
        }
    }
    .btnDelete {
        background-color: #e43333;
        &:focus {
            outline-style: none;
        }
        &:hover {
            background-color: hsl(0, 65%, 49%);
        }
        &:active {
            background-color: rgb(173, 38, 38);
        }
    }
    .listPoderes {
        height: 200px;
        overflow-y: scroll;
    }
}

.btnDetalle {
    background-color: red;
}

table {
    width: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-color: #adadad91;
    border-radius: 10px;
    .tr-img {
        width: 120px !important;
    }
    img {
        padding: 3px;
    }
    td {
        border-style: solid;
        border-width: 0.5px;
        border-color: #adadad91;
        border-radius: 10px;
        &:hover {
            animation-name: anim;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
    }
}

@keyframes anim {
    0% {
        border-color: #FFE80D;
    }
    25% {
        border-color: #ff6600;
    }
    /*Naranja*/
    50% {
        border-color: #4a08b4;
    }
    /*Negro*/
    75% {
        border-color: #039BA6;
    }
    /*Otra vez naranja*/
    95% {
        border-color: #FFE80D;
    }
    100% {
        border-color: #ff0;
    }
    /*Otra vez amarillo*/
}